* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ExtraBold.eot');
  src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraBold.woff') format('woff'),
    url('Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Gilroy', 'Arial', sans-serif;
}

.container1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-bottom: 150px;
  margin-bottom: 200px;
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 50px;
}

.container2 {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.section1-wrapper {
  background-image: url("../img/illustration.svg");
  min-height: 510px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  box-sizing: border-box;
}

.section1-inner h2 {
  margin-bottom: 32px;
  font-size: 55px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.section1-inner p {
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.section1-inner {
  padding-top: 40px;
}

.section1-inner a {
  display: inline-block;
  padding: 15px 48px;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.section2-inner-item h2 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.first h2 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.section2-inner-item h3 {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.section2-inner-item p {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.section2-inner-item a {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.first {
  width: 360px;
  margin-bottom: 150px;
}

.section2-inner-item {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

.section2-inner-item a::after {
  position: absolute;
  content: "";
  left: 40%;
  transform: translateY(40%);
  width: 20px;
  height: 20px;
  background-image: url("../img/ic_arrow_forward_24px.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.section2-inner-item img {
  margin-bottom: 40px;
  margin-top: -73px;
}

.section2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.first+.section2-inner-item {
  margin-left: 80px;
}

.section2-inner-item.second {
  position: relative;
  top: -20px;
  margin-bottom: 100px;
}

.section3 {
  margin-bottom: 96px;
}

.section3-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  min-height: 417px;
  padding: 48px;
  background-image: url("../img/spalniy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
}

.section3 h2 {
  margin-bottom: 76px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}

.section3 h3 {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 500;
  opacity: 0.8;
}

.section3 p {
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.5;
}

.section4 {
  display: flex;
  justify-content: space-between;
  min-height: 417px;
  margin-bottom: 190px;
}

#left-link {
  position: relative;
  width: 422px;
  background-image: url("../img/phones.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

#left-link::before {
  position: absolute;
  left: 4px;
  bottom: 0;
  top: 0;
  right: 0px;
  content: "";
  background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 10px;
}
 #link {
   display: block;
   width: 424px;
 }
#link {
  position: relative;
  width: 422px;
  padding: 24px 32px;
  background-image: url("../img/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

#link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
  border-radius: 10px;
}

.section4 h3 {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 500;
  opacity: 0.8;
}

.section4 p {
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.5;
}

.section5-wrapper {
  padding: 100px 0 0 0;
  background: #5a98d0;
  border-radius: 200px 0px 0px 0px;
}

.section5 {
  margin-bottom: 96px;
}

.section5-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 110px;
}

.section5-top h3 {
  width: 290px;
  margin-right: 97px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.section5-top p {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

ul.logo-client-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ul.logo-client-list li.logo-client-item a {
  display: inline-block;
  padding: 41px 46px;
  text-decoration: none;
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
}

ul.logo-client-list li.item-top a {
  border-right: 1.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4)
}

ul.logo-client-list li.item-bottom a {
  border-right: 1.5px solid rgba(255, 255, 255, 0.4)
}

ul.logo-client-list li.fourth a {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4)
}

ul.logo-client-list li:hover a {
  display: inline-block;
  padding: 41px 46px;
  background: rgba(30, 61, 102, 0.2);
}
ul.logo-client-list li.more:hover a {
  padding: 46px 68px;
}
ul.logo-client-list li.more a {
  padding: 46px 68px;
}

.footer {
  position: relative;
  padding: 79px 0;
  z-index: 1;
}

.footer-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
  /* border-bottom: 1.5px solid #ffffff;
  opacity: 0.4; */
}

.footer-top::before {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 150%;
  left: -470px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer a {
  text-decoration: none;
}

.footer-top h2 {
  width: 350px;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-top p {
  width: 460px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer-top a {
  display: inline-block;
  padding: 15px 70px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5A98D0;
  border-radius: 10px;
}

.footer-bottom {
  display: flex;
  padding-top: 97px;
  margin-bottom: 80px;
}

.footer-bottom li.footer-bottom-list {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-bottom li.footer-bottom-list a {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-bottom-div a {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.footer-bottom li.footer-bottom-list .span {
  margin-left: 20px;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-left-link {
  display: inline-block;
  margin-bottom: 16px;
}

.first-list {
  margin-right: 100px;
}

.second-list {
  margin-right: 77px;
}

li.free {
  margin-bottom: 32px;
}

span {
  display: inline-block;
  margin-right: 16px;
}

.lorem-link {
  display: flex;
  align-items: flex-start;
}

.copyright a {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

.footer:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: "";
  width: 90%;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 56px;
  background-image: url("../img/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.header h2 {
  margin-bottom: 17px;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.header p {
  width: 780px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
 .search-form {
   display: flex;
   align-items: center;
 }
 .search-label {
   display: block;
   width: 100%;
 }
 a {
   text-decoration: none;
 }
input.search {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
  line-height: 15px;
  color: #1F3F68;
  opacity: 0.6;
}

.search-btn {
  margin-right: 24px;
  outline: none;
  border: none;
  background-color: transparent;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
  padding-left: 24px;
  margin-bottom: 56px;
  background: #f4f4f4;
  border-radius: 10px;
}

.popular-blog {
  padding-bottom: 24px;
  margin-bottom: 56px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}

.popular-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.popular-blog h3 {
  width: 298px;
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.popular-bottom p {
  margin-bottom: 16px;
}

.popular-top h2 {
  margin-bottom: 32px;
  font-size: 37px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.popular-top p {
  width: 380px;
  margin-bottom: 30px;
}

.popular-blog p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #000000;
  opacity: 0.6;
}

h5 {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

/* h5::before {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 40%;
  transform: translateY(50%);
  content: "";
  background-image: url("../img/bookmark.svg");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* h5::after {
  position: absolute;
  right: 25%;
  height: 24px;
  width: 24px;
  transform: translateY(50%);
  content: "";
  background-image: url("../img/share.svg");
  background-size: contain;
  background-repeat: no-repeat; */
.share-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-wrapper div  {
 margin-right: 70px;
}
.share-wrapper .bookmark {
  margin-right: 25px;
}
/* .wrapper {
  display: flex;
  flex-direction: column;
} */
time {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.4;
}

.popular-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.popular-bottom img {
  margin-bottom: 16px;
}

.popular-blog h4 {
  text-align: right;
}

.popular-blog h4 a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #356ead;
  opacity: 0.8;
  text-align: right;
}
 .article {
   margin-bottom: 96px;
 }
.article-inner {
  display: flex;
}

.article-inner:not(:nth-child(6n)) {
  margin-bottom: 32px;
}

.article-inner:nth-child(6n) {
  margin-bottom: 56px;
}

.article-inner h3 {
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.04em;
  color: #1f3f68
}

 .article-inner p {
  width: 535px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
}
.sharoit {
  width: 400px;
}
#title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356ead;
  opacity: 0.8;
}
.article-inner div:first-child {
  margin-right: 20px;
}

.article-bottom {
  display: flex;
  justify-content: space-between;
}

.article-bottom a {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #356ead;
  text-decoration: none;
}

.article-bottom a.link-left::before {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../img/arrow.svg");
  transform: rotate(-180deg);
}

.article-bottom a.link-left {
  padding-left: 36px;
}

.article-bottom a.link-right {
  padding-right: 36px;
}

.article-bottom a.link-right::after {
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../img/arrow.svg");
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.contact-left h3 {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.contact-left div {
  display: flex;
  flex-direction: column;
}
.contact-left div:not(:last-child) {
  margin-bottom: 40px;
}
.contact-left img {
  margin-bottom: 70px;
}
.contact-left a {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
}
.contact-left a.phone-number {
  position: relative;
  padding-left: 26px;
}
.contact-left a.adress-link {
  position: relative;
  padding-left: 26px;
}
.contact-left a.mail-link {
  position: relative;
  padding-left: 26px;
}
.contact-left a.phone-number::before {
  position: absolute;
  content: "";
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url("../img/phone-icon.svg");
  background-size: contain;
}
.contact-left a.adress-link::before {
  position: absolute;
  content: "";
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url("../img/link-icon.svg");
  background-size: contain;
  transform: translateY(20%);
}
.contact-left a.mail-link::before {
  position: absolute;
  content: "";
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url("../img/email-icon.svg");
  background-size: contain;
  transform: translateY(20%);
}
.contact-right {
  width: 490px;
  padding: 56px;
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}
.contact-right h3 {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68
}
.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.8;
}
#email,#name {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  padding: 21px 0 21px 42px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}
#email::placeholder,#name::placeholder {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.3;
}
textarea {
  width: 100%;
  padding-left: 36px;
  padding-top: 21px;
  margin-bottom: 70px;
  opacity: 0.4;
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  resize:none;
  outline: none;
  background-color: #ffffff !important;
}
#comment::placeholder {
  font-family: 'Arial';
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68!important;
  opacity: 0.3;

}
.submit {
  padding: 23px 0;
  width: 100%;
  color: #ffffff;
  border: none;
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  outline: none;
}
.map {
  margin-bottom: 96px;
}